.navbar {
  position: fixed;
  background-color: #d6d6d6;
  height: 60px;
  width: 100%;
  top: 0;
  z-index: 3;
}
.navbar-pointer {
  z-index: 1;
  background: linear-gradient(
    110deg,
    rgb(191, 255, 0) calc(100% - 40px),
    #d6d6d6 40px
  );
  height: 100%;
  position: absolute;
  transition: width 500ms;
}

.navbar-title > .title {
  margin-left: 10px;
  font-weight: bolder;
  font-size: 20px;
}

.navbar-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.navbar-title {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 15%;
}

.navbar-item:hover,
.navbar-item:active {
  font-weight: 900;
}

.navbar-title-min {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navbar-pointer,
  .navbar-container {
    display: none;
  }

  .navbar {
    position: fixed;
    top: 0;
    background: rgb(191, 255, 0);
  }

  .navbar-title-min {
    display: flex;
    align-items: center;
    flex-basis: 55%;
    font-weight: bolder;
    font-size: 20px;
  }

  .navbar-title-min > .title-min {
    vertical-align: middle;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
